<nav class="navbar navbar-dark bg-success">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/users/admins">Admins</a>
      <a class="navbar-brand" href="/users/lecturers">Lecturers</a>
      <a class="navbar-brand" href="/users/students">Students</a>
      <a class="navbar-brand" href="">View Requests</a>

    </div>
  </nav>