 <nav class="navbar navbar-dark bg-success">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/users/admins">Admins</a>
      <a class="navbar-brand" href="/users/lecturers">Lecturers</a>
      <a class="navbar-brand" href="/users/students">Students</a>
      <a class="navbar-brand" href="/users/register">Register</a>

      <select class="form-select" aria-label="Default select example">
        <option selected>Profile</option>
        <option value=""><a class="navbar-brand" href="/users/students">Change password</a></option>
        
        <a class="navbar-brand" href="/users/register">Logout</a>
  
      </select>


    </div>
  </nav>