<%- include('./partials/head.ejs') %> 
<div class="container">
    <h1>Change password</h1>
    
    <div class="row">
        <div class="col-lg-4 col-sm-12">

           <% if (errors.length > 0) { %>
                  <% errors.forEach(error => { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%= error %> 
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  <%   }) %> 
           <%  } %> 

            <form action="/password/<%= id %> " method="POST">
                <div class="mb-3">
                   <strong> <label for="password" class="form-label">Enter New Password</label> </strong>
                    <input type="text" class="form-control" id="password" placeholder="Enter at least 8 character" name="password">
                  </div>
                  <div class="mb-3">
                    <strong> <label for="password" class="form-label">Comfirm Password</label> </strong>
                     <input type="text" class="form-control" id="password2" placeholder="Enter at least 8 character" name="password2">
                   </div>
                   <button class="btn btn-success">Comfirm Change</button>
            </form>
        </div>
    </div>
    
</div>
<%- include('./partials/footer.ejs') %> 